.header-display {
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 50%;
}

.top-section-border {
  border-radius: 20px;
  height: 45%;
}

.button {
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
  border-color: $lightBlue;
  &:hover {
    cursor: pointer;
    border-color: $pink;
  }
}
