
//~~~~~~~~~~// Imports //~~~~~~~~~~//

@import './variables';
@import './extensions';

//~~~~~~~~~~// General //~~~~~~~~~~//

body {
  background: $lightGray;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.main-dashboard {
  width: 100%;
  height: 100%;
}

//~~~~~~~~~~// Header //~~~~~~~~~~//

header {
  background: $lightBlue;
  margin-bottom: 2%;
  padding: 2%;
  display: flex;
  justify-content: space-between;

}

.logo {
  @extend .header-display;
}

.app-logo {
  margin-right: 2%;
}

h1 {
  font-size: 8vmin;
  margin: 0;
  align-self: flex-end;
}

.welcome {
  @extend .header-display;
  justify-content: flex-end;
}

.welcome-message {
  margin-right: 2%;
  font-size: 3vmin;
}

//~~~~~~~~~~// Login //~~~~~~~~~~//

.login-container {
  border: solid 4px $lightBlue;
  border-radius: 20px;
  padding: 3%;
  margin: 10% auto 10% auto;
  text-align: center;
  width: 300px;
}

.login-title {
  margin-top: 0%;
}

.login-button {
  @extend .button;
}

//~~~~~~~~~~// Top Section //~~~~~~~~~~//

.top-section {
  display: flex;
  width: 100%;
}

.travel-cost {
  width: 50%;
  padding: 2%;
}

.annual-message-display {
  border: solid $yellow;
  @extend .top-section-border;
  margin-bottom: 4%;
}

.annual-message,
.estimated-cost {
  text-align: center;
  font-size: 2.5vmin;
  padding: 2%;
}

.estimated-cost-display {
  border: dotted $pink;
  @extend .top-section-border;
}

//~~~~~~~~~~// Form //~~~~~~~~~~//

.form-container {
  width: 50%;
  margin-left: 2%;
}

.booking-form {
  border: solid 4px $lightBlue;
  border-radius: 20px;
  padding: 4%;
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
}

.form-button {
  @extend .button
}

.form-button-container {
  display: flex;
  justify-content: space-evenly;
}

//~~~~~~~~~~// Travel Section //~~~~~~~~~~//


.trip-section {
  display: flex;
  width: 96%
}

.user-trips {
  padding-left: 1%;
  font-size: 4vmin;
}

.all-trips {
  flex-direction: column;
  width: 98%;
  margin: 0% 2% 2% 4%;
  }

//~~~~~~~~~~// Trip Cards //~~~~~~~~~~//

.trip-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5% 1.5%;
}

.trip-card {
  background-color: $lightBlue;
  border: solid 4px $darkBlue;
  border-radius: 10px;
  padding: 2%;
  max-width: 300px;
  max-height: 400px;
}

.trip-destination,
.card-text {
  text-align: center;
}

//~~~~~~~~~~// Hidden //~~~~~~~~~~//

.hidden {
  display: none!important;
}

//~~~~~~~~~~// Media Queries //~~~~~~~~~~//

@media (max-width: 1300px) {
  .trip-display {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5% 1.5%;
  }

  .app-logo {
    width: 90px;
    height: 90px;
  }

  h1 {
    font-size: 6.5vmin;
  }

  .welcome-message {
    font-size: 2.5vmin;
  }

  .user-avatar {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 800px) {
  .trip-display {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5% 1.5%;
  }

  .app-logo {
    width: 75px;
    height: 75px;
  }

  h1 {
    font-size: 6vmin;
  }

  .welcome-message {
    font-size: 2vmin;
  }

  .user-avatar {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 550px) {
  .trip-display {
    grid-template-columns: 1fr;
    grid-gap: 0.5%;
  }

  .top-section {
    flex-direction: column;
  }

  .form-container,
  .travel-cost {
    width: 96%;
  }

  .welcome {
    visibility: hidden;
  }

  .logo {
    width: 100%;
  }

  .app-logo {
    width: 50px;
    height: 50px;
  }

  .trip-image {
    width: 240px;
    height: 140px;
  }
}
